<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="pager-chat">
<head>
    <base href="/"/>

    <title>Alex Pager Chat</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <meta name="keywords" content="pager chat socket.io alex ruzzarin"/>
    <meta name="description"
          content="Create a realtime chat application that allows two or more users to have private conversations."/>

    <link rel="icon" type="image/png" href="/images/favicon.png"/>

    <link rel="stylesheet" href="/css/application.css">
</head>

<body ng-controller="AppCtrl as app">
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alex Pager Chat</a>
        </div>
        <nav id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

{{#if development}}
    <!--<script src="http://{{request.hostname}}:35729/livereload.js"></script>-->
{{/if}}
<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
