<div class="row">
	<div class="col-md-4">
		<section id="join">
			<form ng-submit="main.roomJoin()">
				<fieldset>
					<legend>Create or Join in a room</legend>
					<div class="form-group">
						<label for="room">Room</label>
						<input type="text" class="form-control" id="room" placeholder="Room name"
							   ng-model="main.roomToJoin">
					</div>
					<button type="submit" class="btn btn-primary btn-lg">Create or Join</button>
				</fieldset>
			</form>
		</section>
		<section id="rooms">
			<form>
				<fieldset>
					<legend>Rooms</legend>
					<p ng-repeat="room in main.rooms">
						<button class="btn btn-default btn-sm" type="button" ng-click="main.joinRoom(room.name)">Join
						</button>
						#{{room.name}} ({{room.users.length}}) by @{{room.owner}}
						<span ng-if="room.private" class="glyphicon glyphicon-eye-close"></span>
					</p>
				</fieldset>
			</form>
		</section>
	</div>
	<div class="col-md-8">
		<section id="notifications">
			<form>
				<fieldset>
					<legend>Notifications</legend>
					<p ng-repeat="notification in main.notifications">
						{{notification.text}}</p>
				</fieldset>
			</form>
		</section>
		<section id="commands">
			<form>
				<fieldset>
					<legend>Available Commands</legend>
					<dl>
						<dt>/join room</dt>
						<dd>Join a room</dd>
						<dt>/leave room</dt>
						<dd>Leave the room</dd>
						<dt>/leave</dt>
						<dd>Leave the current room</dd>
						<dt>/giphy keyword</dt>
						<dd>Send a animated gif to room</dd>
					</dl>
				</fieldset>
			</form>
		</section>

	</div>
</div>
