<form ng-submit="signup.signup()">
	<fieldset>
		<legend>
			Sign up to chat
		</legend>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" placeholder="Email" ng-model="signup.credentials.email">
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" placeholder="Username" ng-model="signup.credentials.username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password" ng-model="signup.credentials.password">
		</div>
		<button type="submit" class="btn btn-primary btn-lg">Sign up</button>
		<div ng-show="signup.error" class="text-center text-danger">
			<strong ng-bind="signup.error"></strong>
		</div>
	</fieldset>
</form>
